<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <h3 class="text-center mt-3">AdsForGood</h3>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a routerLink="/" class="nav-link align-middle px-0">
                          <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/dashboard/projects" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <span class="ms-1 d-none d-sm-inline">Company projects</span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                        <span class="ms-1 d-none d-sm-inline">Dedication hours</span>
                      </a>
                  </li>
              </ul>
              <hr>
              <button class="btn btn-outline-danger mb-4" (click)="logout()">Logout</button>
          </div>
      </div>
      <div class="col py-3">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
